/* Graham Harris */
/* buttons.css */

/* --------------------------------------------------- */

/* Main body buttons */
.buttons {
  text-align: center;
  color: black;
  background-color: #DBE6E0;
  padding-top: 10px;
  padding-bottom: 10px;
  transition-duration: 0.5s;
  outline: 0px !important;
  box-shadow: none !important;
  border-radius: 5px;
}

.buttons button {
  font-size: 16px;
  font-family: 'Inconsolata';
  border: none;
  background-color: #DBE6E0;

}

.buttons button:hover {
	background-color: white;
  border-radius: 8px;
}

.buttons button:focus {
  outline: none;
  box-shadow: none;
}

.buttons button:active { 
  outline: none;
  border: none;
}

/* Email button properties */
.emailButton {
  text-align: left;
  color: black;
  padding: 0px;
  background-color: #DBE6E0;
  transition-duration: 0.5s;
  outline: 0px !important;
  box-shadow: none !important;
  border-radius: 5px;
}

.emailButton button {
  font-size: 15px;
  font-family: 'Inconsolata';
  border: none;
  background-color: #DBE6E0;
  text-decoration: underline;

}

.emailButton button:hover {
  background-color: white;
  border-radius: 8px;
}

.emailButton button:focus {
  outline: none;
  box-shadow: none;
}

.emailButton button:active { 
  outline: none;
  border: none;
}