/* Graham Harris */
/* buttons.css */

/* --------------------------------------------------- */

/* Main body buttons */
.buttons {
  text-align: center;
  color: black;
  background-color: #DBE6E0;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  outline: 0px !important;
  box-shadow: none !important;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  font-size: 20px;
  font-family: inherit;
  border: none;
  background-color: #DBE6E0;
  color: black;
}

.buttons button:hover, button:active {
	background-color: white;
  border-radius: 8px;
}
.buttons button:focus {
  outline: none;
  box-shadow: none;
  background-color: white;
  border-radius: 8px;
}

/* --------------------------------------------------- */
