/* Graham Harris */
/* buttons.css */

/* --------------------------------------------------- */

/* Main body buttons */
.buttons {
  text-align: left;
  color: black;
  background-color: #DBE6E0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  outline: 0px !important;
  box-shadow: none !important;
  border-radius: 5px;
}

.buttons button {
  font-size: 20px;
  font-family: inherit;
  border: none;
  background-color: #DBE6E0;
  color: black;
  margin-right: 60px;
}

.buttons button:hover, button:active {
	background-color: white;
  color: black;
  border-radius: 8px;
}
.buttons button:focus {
  outline: none;
  box-shadow: none;
  background-color: white;
  color: black;
  border-radius: 8px;
}

/* --------------------------------------------------- */

