body {
    font-family: "Inconsolata";
    background-color: white;
    color: black;
    transition-duration: 1s;
}
body.dark-theme {
    font-family: "Inconsolata";
    background-color: black;
    color: white;
    transition-duration: 1s;
}

@font-face {
    font-family: testfont;
    src: url("../img/Holtzberg-Regular.otf") format("opentype");
}

h1 {
    font-size: 300%;
    font-family: "testfont";
    opacity: 1;
}

.landing {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 25%;
    min-height: 150px;
    min-width: 150px;
    align-content: center;
    text-align: center;
    background-color: inherit;
    flex-direction: column;
    color: inherit;
}
.landing::before {
    background-image: url('../img/plant2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    opacity: 0.5;
}

.landing a,
.landing p {
    color: inherit;
    text-decoration: none;
    display: inline;
    color: inherit;
}
.landing a:hover {
    text-decoration: underline;
}


