body {
    font-family: "Inconsolata";
    background-color: white;
    color: black;
    transition-duration: 1s;
}
body.dark-theme {
    font-family: "Inconsolata";
    background-color: black;
    color: white;
    transition-duration: 1s;
}

@font-face {
    font-family: testfont;
    src: url("../img/Holtzberg-Regular.otf") format("opentype");
}

.heading {
    font-family: "testfont";
    padding: 15px;
    padding-bottom: 50px;
    font-size: 250%;
    text-align: center;
    color: inherit;
}
.heading.dark-theme {
    color: inherit;
}

/* ---------------------------------- */

.info {
    padding-left: 10%;
    padding-right: 10%;
    color: inherit;
}
.info h1 {
    font-size: 200%;
}
.info a {
    color: rgb(90, 90, 90);
}
.info.dark-theme a {
    color: rgb(145, 145, 145);;
}

/* ---------------------------------- */

hr.documents {
    width: 10%;
}

/* ---------------------------------- */

.footer {
    padding-top: 30px;
    padding-bottom: 20px;
}
.footer a,
.footer p {
    display: inline;
    padding-bottom: 10px;
    text-align: center;
    color: inherit;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}

