body {
    background-color: white;
    color: black;
    transition-duration: 1s;
    margin: 0;
    padding: 0;
}

/* ------------------------------- */

.heading {
    color: rgb(40, 75, 40);
    background-color: #DBE6E0;
    font-family: "Vampiro One", cursive;
    text-align: center;
    padding: 5%;
    padding-bottom: 2%;
    font-size: 2.7em;
}

.grad1 {
    height: 30px;
    background-color: #DBE6E0;
    background-image: linear-gradient(#DBE6E0, white); 
}
div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
@media screen and (max-width: 300px) {
    .grid {
        display: block;
    }
}

.main {
    padding: 5%;
    padding-top: 0%;
    font-family: "Inconsolata";
}
.main h1{
    font-size: 2em;
    font-family: "Vampiro One", cursive;
    text-align: center;
}
hr.documents {
    width: 30px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar button {
    float: left;
    display: block;
}


