/* Graham Harris */

/* --------------------------------------------------- */

* {
  box-sizing: border-box;
  transition-duration: 0.3s;
}

/* Body attributes */
body {
  /* font-family: 'Inconsolata'; */
  font-family: 'Roboto', sans-serif;
  margin: 2.5%;
  /* cursor: url("../img/cursor2.png"), auto; */
}

/* --------------------------------------- */

p {
  margin-left: 3%;
}

a {
  color: #698B69;
}

span {
  float: right; 
}

hr {
  width: inherit;
}

h1 {
  font-size: 200%;
  margin-top: 10px;
  margin-bottom: 20px;
}

p, ul {
  line-height: 160%;
}


/* --------------------------------------- */

.main {
  margin: 5%;
  margin-top: 1%;
}

/* --------------------------------------- */

/* Text format */
.format1 {
  font-size: large;
}

/* --------------------------------------- */

/* Add bullet point padding to resume portion */
.resume {
  padding-left: 10px;
}

/* Pottery grid 
https://www.freecodecamp.org/news/how-to-create-an-image-gallery-with-css-grid-e0f0fd666a5c/
*/
.gallery {
  /* Prevent vertical gaps */
  line-height: 0;
  
  -webkit-column-count: 4;
  -webkit-column-gap:   10px;
  -moz-column-count:    4;
  -moz-column-gap:      10px;
  column-count:         4;
  column-gap:           10px;
  float: auto;
}

.gallery img {
 /* Just in case there are inline attributes */
 width: auto;
 max-width: 200px;
 overflow: clip;
 image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
 image-rendering: -moz-crisp-edges;          /* Firefox                        */
 image-rendering: -o-crisp-edges;            /* Opera                          */
 image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
 image-rendering: pixelated;                 /* Universal support since 2021   */
 image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
 -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
 text-align: center;
 display: block;
}



