/* Graham Harris */

/* --------------------------------------------------- */

* {
  box-sizing: border-box;
  transition-duration: 0.3s;
}

/* Body attributes */
body {
  /* font-family: 'Inconsolata'; */
  font-family: 'Roboto', sans-serif;
  margin: 2.5%;
  /* cursor: url("../img/cursor2.png"), auto; */
}

/* --------------------------------------- */

p {
  margin-left: 3%;
}

a {
  color: #698B69;
}

span {
  float: right; 
}

hr {
  width: inherit;
}

h1 {
  font-size: 200%;
  margin-top: 10px;
  margin-bottom: 20px;
}

p, ul {
  line-height: 160%;
}


/* --------------------------------------- */

.main {
  margin: 5%;
  margin-top: 1%;
}

/* --------------------------------------- */

/* Text format */
.format1 {
  font-size: large;
}

/* --------------------------------------- */

/* Add bullet point padding to resume portion */
.resume {
  padding-left: 10px;
}